// 背景颜色定义规范
$color-background = #fff
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333

// 字体颜色
$color-theme = rgb(0, 160, 220)
$color-text = #333
$color-text-sub= rgb(147,153,159)

$color-white = #fff
$color-border = rgba(7,17,27,0.1)



//字体大小定义规范
$font10 = 10px
$font12 = 12px
$font14 = 14px
$font16 = 16px
$font18 = 18px
$font22 = 22px


// 颜色定义规范
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px


